{% extends 'base.html' %}

{% block content %}
    <style>

        html, p, .table {
            font-size: 12px;
        }

        textarea {
            font-size: 12px;
            width: 100%;
            height: 100px;
        }

        a {
            font-weight: normal;
        }

    </style>

   <div class="container">
		<div class="row">
			<div class="col-7">
				<div>
					<h3>Сервис высот<h3>

					<p class="text-muted">Функция возвращает линию ортодромии в формате WKT с данными о высоте</p>

					<h6><b>URL: </b><span class="text-danger" style="background-color: #ffddee;">/api/elevation? wkt= <kbd>wkt</kbd></span></h6>

					<h6>
						<b>Пример:</b> 
						<ul>
							<li><a href="{{ url_for('calculate_elevation') }}{{ '?wkt=POINT%28160.5+55.5%29' }}"> {{ 
							url_for('calculate_elevation', _external=True) }}{{ '?wkt=POINT(160.5 55.5)' }}</a></li>

							<li><a href="{{ url_for('calculate_elevation') }}{{ '?wkt=LINESTRING%28160.1+55.1,+160.2+55.8%29' }}"> {{ url_for('calculate_elevation', _external=True) }}{{ '?wkt=LINESTRING(160.1 55.1, 160.2 55.8)' }}</a></li>

							<li><a href="{{ url_for('calculate_elevation') }}{{ '?wkt=POLYGON%28%28160.34271240234378+55.825973254619015, 160.61187744140628+55.87839235515579,+160.55145263671878+55.754940702479175,+160.72174072265628+55.804368363403064%29%29' }}"> {{ url_for('calculate_elevation', _external=True) }}{{ '?wkt=POLYGON((160.34271240234378 55.825973254619015, 160.61187744140628 55.87839235515579, 160.55145263671878 55.754940702479175, 160.72174072265628 55.804368363403064))' }}</a></li>
						</ul>
					</h6>


				</div>
                 <p><input id="clickMe" type="button" class="btn btn-primary" value="Выполнить" onclick="calculate_elevation();" /></p>
                <div>
                    <h3>Результат запроса<h3>
                    <p><textarea id="output_linestring" name="output_linestring"></textarea></p>
                </div>				
			</div>

			<div class="col-4">
				<div id="llmap"></div>
				<script src="{{url_for('static', filename='elevation.js')}}"></script>
				<p><input type="checkbox" id="checkbox_image" checked data-toggle="toggle" onchange="check_image()"> Image show</p>
			</div>

		</div>
	</div>
	
{% endblock %}


