{% extends 'base.html' %}

{% block content %}
    <style>

        html, p, .table {
            font-size: 12px;
        }

        textarea {
            font-size: 12px;
            width: 100%;
            height: 100px;
        }

        a {
            font-weight: normal;
        }

    </style>

    
    
    <div class="container">
        <div class="row">
            <div class="col-7">
                <form action="/orthodromy" method="post" id="orthodromyForm">
                    <div>
                        <h3>Построение линии ортодромии<h3>

                        <p class="text-muted">Функция возвращает линию ортодромии в формате WKT</p>

                        <h6><b>URL: </b><span class="text-danger" style="background-color: #ffddee;">/geoapi/calculate_orthodrome_line? point1= <kbd>point1</kbd> &  point2= <kbd>point2</kbd> & cs= <kbd>cs</kbd> & count= <kbd>count</kbd></span></h6>

                        <h6><b>Пример:</b><a href="{{ url_for('calculate_orthodrome_line') }}{{ '?point1=POINT%280.0+0.0%29&point2=POINT%280.0+0.0%29&cs=СК-42&count=10' }}"> {{ 
                            url_for('calculate_orthodrome_line', _external=True) }}{{ '?point1=POINT(0.0 0.0)&point2=POINT(0.0 0.0)&cs=СК-42&count=10' }}</a></h6>

                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Параметры</th>
                                    <th>Ввод данных</th>
                                    <th>Описание</th>
                                </tr>
                            </thead>           

                            <tbody>
                                <tr>
                                    <td><kbd>{{ orthodromyForm.input_point1.label }}</kbd></td>
                                    <td>
                                        <div class="input-group">
                                            {{ orthodromyForm.input_point1(class="form-control") }} 
                                            <span class="input-group-btn">
                                                <button class="btn btn-outline-secondary" type="button" onclick="makePoint('input_point1', 'marker1');" > <i class='fa-solid fa-location-dot'></i></button>
                                            </span>
                                        </div>
                                    </td>
                                    <td>{{ orthodromyForm.input_point1.description }}</td>
                                </tr>

                                <tr>
                                    <td><kbd>{{ orthodromyForm.input_point2.label }}</kbd></td>
                                    <td>
                                        <div class="input-group">
                                            {{ orthodromyForm.input_point2(class="form-control") }}
                                            <span class="input-group-btn">
                                                <button class="btn btn-outline-secondary" type="button" onclick="makePoint('input_point2', 'marker2');" > <i class='fa-solid fa-location-dot'></i></button>
                                            </span>

                                        </div>
                                    </td>
                                    <td>{{ orthodromyForm.input_point2.description }}</td>
                                </tr>
                                
                                <tr>
                                    <td><kbd>{{ orthodromyForm.input_coordinate_system.label }}</kbd></td>
                                    <td> {{ orthodromyForm.input_coordinate_system(class_="form-select") }}</td>
                                    <td>{{ orthodromyForm.input_coordinate_system.description }}</td>
                                </tr>

                                <tr>
                                    <td><kbd>{{ orthodromyForm.input_count.label }}</kbd></td>
                                    <td>{{ orthodromyForm.input_count(class_="form-control") }}</td>
                                    <td>{{ orthodromyForm.input_count.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p><input id="clickMe" type="button" class="btn btn-primary" value="Выполнить" onclick="calculate_orthodrome_line();" /></p>
                    <div>
                        <h3>Результат запроса<h3>
                        <p><textarea id="output_linestring" name="output_linestring"></textarea></p>
                    </div>
                </form>
            </div> 
         
            <div class="col-4">
                <div id="llmap"></div>
                <script src="{{url_for('static', filename='orthodromy.js')}}"></script>
            </div>

        </div>
    </div>
    

{% endblock %}


