{% extends 'base.html' %}

{% block content %}
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: left;
            /*width:400px;*/
        }

        p{
            font-weight: normal;
            font-size: 60%;
        }

        .orthodromy td{
            font-weight: normal;
            font-size: 60%;
        }

        .column {
            float: left;
            width: 50%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        textarea {
            width: 90%;
            height: 50px;
        }    
    </style>

    <h2>Построение линии ортодромии<h2>

    <p>Пример: <a href="{{ exampleurl }}">{{ exampleurl }}</a></p>
    
    <div class="row">
        <div class="column">
            <form action="/orthodromy" method="post" id="orthodromyForm">
                <div>
                    <table class="orthodromy">
                        <thead>
                            <tr>
                                <th>Параметры</th>
                                <th>Ввод данных</th>
                                <th>Описание</th>
                            </tr>
                        </thead>           

                        <tbody>
                            <tr>
                                <td>{{ orthodromyForm.input_point1.label }}</td>
                                <td>
                                    {{ orthodromyForm.input_point1() }} <button style='font-size:12px' type="button" onclick="makePoint('input_point1', 'marker1');" > <i class='fa-solid fa-location-dot'></i></button>
                                </td>
                                <td>{{ orthodromyForm.input_point1.description }}</td>
                            </tr>

                            <tr>
                                <td>{{ orthodromyForm.input_point2.label }}</td>
                                <td>
                                    {{ orthodromyForm.input_point2() }}
                                    <button style='font-size:12px' type="button" onclick="makePoint('input_point2', 'marker2');" > <i class='fa-solid fa-location-dot'></i></button>
                                </td>
                                <td>{{ orthodromyForm.input_point2.description }}</td>
                            </tr>
                            
                            <tr>
                                <td>{{ orthodromyForm.input_coordinate_system.label }}</td>
                                <td>{{ orthodromyForm.input_coordinate_system() }}</td>
                                <td>{{ orthodromyForm.input_coordinate_system.description }}</td>
                            </tr>

                            <tr>
                                <td>{{ orthodromyForm.input_count.label }}</td>
                                <td>{{ orthodromyForm.input_count() }}</td>
                                <td>{{ orthodromyForm.input_count.description }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p><input id="clickMe" type="button" value="Выполнить" onclick="calculate_orthodrome_line();" /></p>
                <p><textarea id="output_linestring" name="output_linestring"></textarea></p>
            </form>
        </div> 
     
        <div class="column">
            <div id="llmap"></div>
            <script src="{{url_for('static', filename='demo.js')}}"></script>
        </div>

    </div>

{% endblock %}


